  <div class="card">
    <h3 class="card-header"><%= title %></h3>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Start Date</th>
          <th>Uptime</th>
          <th>AVG Response</th>
        </tr>
      </thead>
      <tbody>
        <% reports.each do |r| %>
          <tr class="table-info">
            <td><%= link_to r.start_date.strftime("%d/%m/%Y") , r, title: "#{r.resolution.capitalize} resolution" %></td>
            <td class="<%= r.built_data :formatted_totals, 'Adjusted Uptime %', :style %>"><%= r.built_data :formatted_totals,  'Adjusted Uptime %' %></td>
            <td><%= r.built_data :formatted_totals, 'AVG Response' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
