<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <h1>Dashboard</h1>
      </li>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-info') %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <%= render partial: "global_reports", locals: { title: 'Daily Global Reports', reports: @daily_global_reports } %>
  </div>
  <div class="col-sm-4">
    <%= render partial: "global_reports", locals: { title: 'Weekly Global Reports', reports: @weekly_global_reports } %>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <%= render partial: "vpcs", locals: { global_report: @latest_global_daily, reports: @daily_reports } %>
  </div>
  <div class="col-sm-5">
    <%= render partial: "vpcs", locals: { global_report: @latest_global_weekly, reports: @weekly_reports } %>
  </div>
</div>

