<h1>Dashboard</h1>
<%= render "shared/menu" %>
<div class="row">
    <%= render partial: "global_reports", locals: { title: 'Daily Global Reports', reports: @daily_global_reports } %>
    <%= render partial: "global_reports", locals: { title: 'Weekly Global Reports', reports: @weekly_global_reports } %>
    <%= render partial: "global_reports", locals: { title: 'Monthly Global Reports', reports: @monthly_global_reports } %>
    <%= render partial: "global_reports", locals: { title: 'Yearly Global Reports', reports: @yearly_global_reports } %>
</div>
<div class="row">
    <%= render partial: "vpcs", locals: { global_report: @latest_global_daily, reports: @daily_reports } %>
    <%= render partial: "vpcs", locals: { global_report: @latest_global_weekly, reports: @weekly_reports } %>
</div>

