<table class="report-table">
  <thead>
    <tr>
      <% report[:header][1..-1].each do |h| %>
        <th>
          <%= h %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% report[:formatted_rows].each do |row| %>
    <tr>
      <td><%= link_to row[1][:value], admin_report_path(row[0][:value]) %></td>
      <% row[2..-1].each do |d| %>
        <td class="<%= d[:style] %>" >
          <%= d[:formatted] %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <% report[:formatted_totals].each do |h| %>
        <th class="<%= h[:style] %>" >
          <%= h[:formatted] %>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>
