<div class="container">
  <h1>Global Reports</h1>
  <%= render "shared/menu" %>
  <%= month_calendar events: @global_reports.each do |start_date, reports| %>
    <h3><%= start_date.day %></h3>
    <table>
      <% reports.each do |r| %>
        <tr>
          <td>
            <%= link_to r.period, r %>
          </td>
          <td class="<%= r.built_data :formatted_totals, 'Adjusted Uptime %', :style %> small">
            <%= r.built_data :formatted_totals,  'Adjusted Uptime %' %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
